*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-container {
    background: #059669;

}

.title-container p{
    display: block;
    font-weight: 700;
    color: #fff;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.container {
    border: 2px solid #fff;
    padding: 30px 40px;
    width: 40%;
    min-width: 500px;
}

.new-task-container{
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    display: flex;
}

.new-task-container input{
    flex: 3;
    font-size: 1rem;
    border: 2px solid #d1d3d4;
    border-radius: 5px;
    padding: 12px;
    font-weight: 500;
}

.new-task-container input:focus{
    outline: none;
    border-color: #059669;
}

.new-task-button {
    flex: 1;
    border-radius: 5px;
    font-weight: 500;
    height: 100%;
    font-size: 1rem;
    border: none;
    background-color: rgba(5,150,105,.7);
    color: #fff;
    padding: 12px;
    margin-left: 12px;
    cursor: pointer;
}

.task-container{
    background-color: #fff;
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    width: 100%;
}

.task-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
    margin-top: 6px;
}

.task-item:hover{
    background-color: rgba(49, 191, 134, 0.1);
    

}


.task-item i{
    background-color: white;
    color: #fff;
    padding: 12px;
    border-radius: 5px;
}

.task-item i:hover {
    cursor: pointer;
    background-color: rgba(49, 191, 134, 0.1);
}

/*utilities*/

.error{
    border: 2px solid red !important;
}

.error::placeholder{
    color: red;
}

.completed {
    text-decoration: line-through;
}