*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

.container {
    height: 100vh;
}

.title-container {
    background: #059669;
    height: 4rem;
    top: 0;
}

p {
    color: white;
    font-size: 30px;
    font-weight: 700;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

