*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}


.container {
    height: 100vh;
    flex: 1;
    font-family: "Poppins", sans-serif;
    min-width: 95px;
}

.title-container {
    background: #059669;
    padding: 10px;
    width: 100%;

}

.title-container p{
    display: block;
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    padding-left: 10px;
    align-items: center;
    justify-content: center;
    word-break: normal;
}


.new-task-container{
    background-color: #fff;
    padding: 12px;
    border-radius: 5px;
    display: flex;
    
}

.task-item:hover .fa-trash-alt {
    visibility: unset;
}

.task-item:hover{
    cursor: pointer;
}

.new-task-container input{
    font-size: 1rem;
    border: 2px solid lightgrey;
    border-radius: 5px;
    padding: 12px;
    font-weight: 400;
    width: 100%;
}

.new-task-container input:focus{
    outline: none;
    border-color: #059669;
}

.new-task-button {
    border-radius: 5px;
    margin: 0px 0px 0px 10px;
    font-size: 1rem;
    border: none;
    background-color: rgba(5,150,105,.7);
    color: #fff;
    padding: 12px 16px;
    margin-left: 12px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
}

.task-container {
    background-color: #fff;
    border-radius: 10px;
    flex: 1;
    padding: 12px;
    margin-left: 12px;
    word-break: break-all;
}

.task-item{
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 8px 0px 8px;
    word-break: break-all;
    min-height: 50px;
    padding: 10px;
}

.task-item:hover{
    background-color: rgba(49, 191, 134, 0.1);
}


.task-item i{
    color: lightgray;
    padding: 12px;
    border-radius: 5px;
    visibility: hidden;
}


/*utilities*/

.error{
    border: 2px solid red !important;
}

.error::placeholder{
    color: red;
}

.completed {
    text-decoration: line-through;
}